version: '3.8'

services:

  mongodb:
    image: mongo
    container_name: production-mongo
    networks:
      - app-network
    volumes:
      - mongo-data:/data/db
    restart: always

  backend:
    image: zaynabtahir/backend:v1
    container_name: production-backend
    ports:
      - "80:3000"
    networks:
      - app-network
    env_file:
      - .env
    depends_on:
      - mongodb
    stdin_open: true
    tty: true


networks:
  app-network:
    driver: bridge


volumes:
  mongo-data:
